@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.home_whoweare_ {
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  background: #ffc7c7;
  width: 80%;
  margin: 20px;
  margin-left: 10%;
  display: flex;
}

.page-transition {
  overflow: hidden;
}
