@import url(Root.css);

/* .footer_box {
  background: #000000;
  box-shadow: 0 8px 82px 20px var(--grey);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 50px 50px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
} */


